<div class="portlet-body form">
	<style>
		.fc-time {
			display: none;
		}
        .fc-day-grid-event {
            background: unset;
            border: none;
        }
        .fc-title {
            font-weight: 600;
            font-size: 13px;
        }
        .fc-event-text-pink .fc-title {
            color: #e91e63;
        }
        .fc-event-text-green .fc-title {
            color: #4caf50;
        }
        .fc-event-text-azure .fc-title {
            color: #00bcd4;
        }
	</style>
	<div class="calendar-wrap pt10" ng-if="IsTranslate">
		<div id="calendarContractSale"></div>
	</div>
</div>